html {
    font-family: sans-serif;
}

html, body {
  overflow: hidden;
  margin: 5px;
}

canvas {
    border: 1px solid gray;
    background-color: gray;
  margin-top: 10px;
}

div.selector-fondo {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.32);
    border-top: 2px solid black;

    -webkit-transition: top 0.1s ease-in-out;
    z-index: 100;
}

div.selector-oculto {
    top: 100%;
}


div.selector-cuerpo {
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 0px;
    position: absolute;
    color: #626262;
    background-color: white;
    padding: 50px;
}


ul.texturas {
    list-style: none;
    padding-left: 0;
}

ul.texturas li {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    color: #ccc;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
}

ul.texturas li img{
    width: 80%;
    height: 80%;
}

ul.texturas li:hover {
    border-color: black;
    color: black;
}


.panel {
	border: 1px solid black;
	position: absolute;
	width: 350px;
	top:0;
	right: 0px;
	bottom: 0;
	background-color: #f0f0f0;
	
	-webkit-transition: right 0.25s ease-in-out;
}

.panel-invisible {
	right: -350px;
}

.panel-ocultador {
	position: absolute;
	left: -23px;
	top: 0;
	width: 20px;
	height: 20px;
	background-color: white;
	cursor: pointer;
}