<!DOCTYPE HTML>
<html lang='es' ng-app='app'>
    <head>
        <title>Shaolin Editor</title>
        <meta charset="utf-8">

        <script type="text/javascript" src="bower_components/raphael/raphael-min.js"></script>
        <script type="text/javascript" src="bower_components/raphael.free_transform/raphael.free_transform.js"></script>
        <script type="text/javascript" src='bower_components/jquery/dist/jquery.min.js'></script>
        <script type="text/javascript" src='bower_components/angular/angular.min.js'></script>
        <script type="text/javascript" src='bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js'></script>

        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/editor.css">
    </head>

    <body ng-controller='AppCtrl'>

        <div class='panel' ng-class="{'panel-invisible': panel_invisible == true}">
            <div ng-click='alternar_panel()' class='panel-ocultador'>→</div>

            <div>
                <p>Texturas
                    <div ng-show='cargando'>Cargando ...</div>

                <ul class='texturas'>
                    <li ng-repeat='t in texturas' ng-click='seleccionar_textura($index)'><img src='{{t.ruta}}'/></li>
                </ul>
            </div>
        </div>


        <div ng-controller='BotonesCtrl' class='contenedor-editor'>

                    <button ng-click='abrir_archivo()' class="topcoat-button-bar__button">Abrir archivo</button>
                    <button ng-click='guardar_archivo()' class="topcoat-button-bar__button">Guardar</button>
                    <button ng-click='guardar_archivo()' class="topcoat-button-bar__button">Guardar Como ...</button>


            <div class='contenedor'>

                <div id="canvas_container"></div>

            </div>

            <input style="display:none;" id="openDialog" type="file" />
            <input style="display:none;" id="saveDialog" type="file" nwsaveas />

        </div>

    </body>



    <script src='js/app.js'></script>

</html>
